%p
  %b= t(".greeting", name: @user.user_name)
%p
  = t(".text", title: @post.title, name: @author.user_name)
%p
  = link_to t('.post'), public_post_path(@post)
%p{style: 'text-align: right'}
  = t('.signature')