= form_tag create_comment_path(post), remote: true, id: 'comments-form', class: 'form-horizontal' do
  .form-group
    .col-sm-12
      = text_area_tag :body, '', rows: 15, class: 'form-control', placeholder: t('.placeholders.body')
  .form-group
    .col-sm-12
      = submit_tag t('.save'), class: 'btn btn-primary'