.row.avatar
  = image_tag user.avatar_url(:thumb), class: 'avatar'
  .actions
    - if user_signed_in?
      - if user != current_user
        = subscription_link(user)  
      - if user.updatable_by?(current_user)
        %a{href: '#', id: 'upload-avatar', class: 'btn btn-success'}= icon 'upload', t('.upload')
        = render partial: 'users/avatar_upload_dialog'
