%meta{property: 'og:type', content: 'profile'}
%meta{property: 'og:image', content: full_image_url(user.avatar_url(:small))}
%meta{property: 'og:title', content: user.user_name}
%meta{property: 'og:description', content: user.about}
%meta{property: 'og:profile:username', content: user.user_name}
