%h3= t('.header')
%ul.subscriptions
  - subscriptions.each do |subscription|
    %li
      - if subscription.on_post?
        = render partial: 'users/subscription_on_post', locals: {subscription: subscription}
      - elsif subscription.on_author?
        = render partial: 'users/subscription_on_author', locals: {subscription: subscription}