- flash.each do |type, message|
  - class_name = 'alert-success' if [:notice].include?(type)
  - class_name = 'alert-danger' if [:alert, :error].include?(type)
  .flash.alert{class: (class_name || 'alert-info')}
    %a.close{data: {dismiss: "alert"}} &times;
    = message

- if flash.any?
  .spacer