%nav.main-menu
  %ul
    %li
      %a{href: root_path}= t('nav.home')
    
    = yield :nav if content_for? :nav
    
  - if user_signed_in?
    = render partial: 'shared/nav/account'
  - else
    = render partial: 'shared/nav/guest'