%li.dropdown
  %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}= t('nav.blog.my')
  %ul.dropdown-menu
    %li
      %a{href: new_post_path}= icon 'pencil', t('nav.blog.post')        
    %li
      %a{href: imports_path}= icon 'download', t('nav.blog.imports')  
    %li.divider
    = render partial: 'shared/nav/sections'