%meta{property: 'og:type', content: 'article'}
%meta{property: 'og:title', content: post.title}
%meta{property: 'og:description', content: post.preview_html}
%meta{property: 'og:image', content: full_image_url(post.user_avatar_url(:small))}