$text-color: #000000;
$links-color: #000000;
$hovered-links-color: #333333;
$footer-height: 60px;

$break-small: 1280px;

@mixin paper {
  display: block;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  color: $text-color;
  padding: 15px 100px;
  @media screen and (max-width: $break-small) {
  	padding: 15px 50px;  
  }
}
