$text-color: #000000;
$links-color: #000000;
$hovered-links-color: #333333;
$footer-height: 60px;

$extra-small-device: 560px;
$small-device: 750px;
$medium-device: 970px;
$large-device: 1400px;

@mixin paper {
  display: block;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  color: $text-color;
  padding: 0px 10px;
  @media(min-width: $extra-small-device) {
    padding: 15px 20px;
  }
  @media(min-width: $medium-device) {
    padding: 15px 50px;
  }
  @media(min-width: $large-device) {
  	padding: 15px 100px;
  }
}
