.admin {
  .dashboard {
    margin-top: 45px;

    div.pagination ul.pagination {
      border: none;
      box-shadow: none;
    }

    tbody tr {
      cursor: pointer;
    }

    tbody tr.info td {
      background-color: #D9EDF7;
    }
  }
}