@import 'commons';

.admin {
  .dashboard {
    margin-top: 45px;

    div.pagination ul.pagination {
      border: none;
      box-shadow: none;
    }

    tr {
      a { 
        text-decoration: underline; 
      }
    }

    tr.on-main {
      td {
        background-color: #33ED1F;
      }
    }

    tr.draft td {
      background-color: #DDD;
    }

    tr.important td {
      background-color: #190DFF;
      color: #FFF;

      a { 
        color: #FFF; 
      }
    }
  }
}