@import 'commons';

.comments {
  p img {
    max-width: 200px;
    margin: 10px 10px; 

    @media(min-width: $extra-small-device) {
      max-width: 200px;
      margin: 10px 40px; 
    }
    @media(min-width: $small-device) {
      max-width: 400px;
    }
    @media(min-width: $medium-device) {
      max-width: 600px;
    }
  }

  p img.emoji {
    margin: 0;
  }

  div.pagination ul.pagination {
    background: none repeat scroll 0 0 #FFFFFF;
    border: none;
    box-shadow: none;
  }

  #comments-list {
    form {
      display: none;
    }

    form.visible {
      display: block;
    }

    a.comment-edit-cancel{
      color: #333;
    }

  }

  .text {
    a {
      text-decoration: underline;
    }
  }

  .header {
    padding: 10px 0px;
    margin-bottom: 5px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
  }

  .greeting {
    margin: 15px 0px;
    text-align: center;
    color: #000;
    font-style: italic;
    font-size: 12px;
  }

  .user-links {
    @media(max-width: $small-device) {
      display: none;
    }
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    font-style: italic;
    font-size: 12px;

    a.sign-in:after {
      content: "•";
      margin-left: 8px;
      margin-right: 5px;
      margin-top: 3px;
    }
  }

  span.badge {
    font-size: 10px;
    @media(min-width: $extra-small-device) {
      font-size: 12px;
    }
    margin-left: 5px;
    a {
      color: #FFF;
    }
  }

  form {
    margin-top: 25px;
  }
}