@import 'commons';

.events-filter {
  padding-left: 20px;
  margin: 25px 0px;

  #types {
    margin-right: 20px;
    float: left;
  }
}

#events {
  min-width: 400px;

  .jumbotron {
    margin-top: 40px;
  }

  #events-list {
    padding: 45px 0px;
    background: image-url('timeline.png') 25px 0 repeat-y;

    .event {
      min-width: 350px;

      img {
        float: left;
        margin-bottom: 25px;
        margin-right: 10px;
      }

      i {
        margin-left: 5px;
      }

      .text {
        @media(min-width: $small-device) {
          padding-top: 10px;
        }
      }
    }
  }
}