@import 'commons';

header {
  @include paper;

  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;
  padding: 0;
  height: 40px; 

  @media(min-width: $extra-small-device) {
    padding: 15px 25px;
    height: 80px;  
  }
  opacity: 0.90;
  
  a.logo {
    float: left;
    @media(max-width: $extra-small-device) {
      display: none;
    }
  }

  .profile {
    float: right;
    display: none;

    @media(min-width: $small-device) {
      display: inline-block;
    }

    > a { 
      font-family: 'Capture it';
      text-transform: uppercase;
      font-size: 12px;
      @media(min-width: $medium-device) {
        font-size: 14px;
      }
      @media(min-width: $large-device) {
        font-size: 16px;
      }
    }

    > a.signin:after {
      content: "•";
      margin: 0px 6px;
    }
  }
  
  > nav.main-menu {
    margin: 0px 5px;
    @media(min-width: $extra-small-device) {
      margin: 12px 40px;
    }

    > ul > li {
      @media(min-width: $extra-small-device) {
        display: inline-block;
      }
    }

    ul .dropdown-menu > li a {
      text-transform: none;
      list-style: none outside none;      
      position: relative;
    }

    ul .dropdown-menu > li a:after {
      content: "";
      display: none;
      margin: 0;
    }

    > ul > li {
      float: left;
      list-style: none outside none;
      margin-right: 8px;
      position: relative;
      text-transform: uppercase;
    }

    > ul > li > a {
      font-family: 'Capture it';
      font-size: 12px;
      @media(min-width: $medium-device) {
        font-size: 14px;
      }
      @media(min-width: $large-device) {
        font-size: 16px;
      }
      text-transform: uppercase;
    }

    > ul > li a:after {
      color: #000;
      @media(min-width: $extra-small-device) {
        content: "|";
      }
      @media(min-width: $large-device) {
        content: "•";
      }
      float: right;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-left: 8px;
      margin-right: 5px;
      margin-top: 3px;
      opacity: 0.4;
    }

    > ul > li:last-child > a:after {
      content: "";
      display: none;
      margin: 0;
    }
  }
}