@import 'commons';

html, body {
  height: 100%;
}

a {
  color: $links-color;
  text-decoration: none;
}

a:hover, a:focus {
  color: $hovered-links-color;
  text-decoration: none;
}

body {
  background: none repeat scroll 0 0 #F2F2F2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;

  .wrapper {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
  }

  section#content {
    padding: 120px 40px;
  }
}

a.edit {
  text-decoration: none;
}

form {
  @include paper;
}
