@import 'commons';

html, body {
  height: 100%;
}

a {
  color: $links-color;
  text-decoration: none;
}

a:hover, a:focus {
  color: $hovered-links-color;
  text-decoration: none;
}

a.edit {
  text-decoration: none;
}

form {
  @include paper;
}

body {
  background: none repeat scroll 0 0 #F2F2F2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;

  .wrapper {
    height: auto;
    margin: 0 auto (-$footer-height);
    min-height: 100%;
    padding: 0 0 $footer-height;
  }

  section#content {
    padding: 60px 40px;
    @media(min-width: $extra-small-device) {
      padding: 120px 40px;
    }
  }
}

footer {
  @include paper;

  height: $footer-height;
  text-align: center; 

  font-size: 10px;  
  padding-top: 10px;

  @media(min-width: $extra-small-device) {
    padding-top: 15px;
    font-size: 12px;
  }
  @media(min-width: $medium-device) {
    font-size: 14px;    
  } 
}