@import 'commons';

.overview, .featured {
  margin-top: 45px;

  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }

  .placeholders h4 {
    margin-bottom: 0;
  }

  .placeholder {
    margin-bottom: 20px;
  }

  .placeholder img {
    display: inline-block;
    border-radius: 50%;
    border: #FFF solid 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.4);
  }

  .placeholder img:hover {
    display: inline-block;
    border-radius: 50%;
    border: #DDD solid 5px;
  }

  span {
    display: block;
  }
}

.featured {
  @include container; 
  text-align: justify;
  padding-top: 15px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  margin-bottom: 50px;

  @media(max-width: $small-device) {
    display: none;
  }

  @media(max-width: $medium-device) {
    .all-users {
      display: none;
    }
  }

  .placeholder {
    margin-bottom: 0px;
  }

  .all-users {
    position: absolute;
    font-size: 18px;
    left: 10px;
    top: 5px;
    z-index: 100;
  }
}