@import 'commons';

.overview, .featured {
  margin-top: 45px;

  .avatar {
    width: 250px;
  }

  .placeholders {
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .placeholders h4 {
    margin-bottom: 0;
  }

  .placeholder {
    margin-bottom: 20px;
  }

  .placeholder img:hover {
    display: inline-block;
    border-radius: 50%;
    border: #DDD solid 5px;
  }

  span {
    display: block;
  }
}