@import 'commons';

div.pagination {
  display: block;
  text-align: center;
  font-size: 10px;
  @media(min-width: $extra-small-device) {
    font-size: 12px;
  }
  @media(min-width: $medium-device) {
    font-size: 14px;
  }

  ul.pagination {
    padding: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
  }
}