@import 'commons';

.post {
  @include paper;
  @include container;

  font-size: 12px;
  @media(min-width: $extra-small-device) {
    font-size: 14px;
  }
  @media(min-width: $medium-device) {
    font-size: 16px;
  }

  .details {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px; 
    span {
      margin-right: 5px;
      @media(min-width: $extra-small-device) {
        margin-right: 10px;
        padding-left: 15px;
      }
    }

    span.user, span.comments {
      @media(max-width: $extra-small-device) {
        display: none;
      }
    }
  }

  .body {
    color: #000;

    pre {
      font-family: 'Arial';
      @media(max-width: $small-device) {
        display: none;
      }
      @media(min-width: $small-device) {
        font-size: 11px;
      }
      @media(min-width: $medium-device) {
        font-size: inherit;
      }
    }
    
    a {
      color: #0086B3;
    }

    img.avatar {
      @media(max-width: $extra-small-device) {
        display: none;
      }
      width: 150px;
      float: left; 
      margin: 5px 10px;
    }

    p {
      text-align: justify;   
    }
  }

  .links {
    padding: 5px 0px;
    @media(min-width: $extra-small-device) {
      padding: 10px 0px;
    }
    @media(min-width: $medium-device) {
      padding: 15px 0px;
    } 
    > span {
      margin-right: 25px;
    }
    > span.tags {
      @media(max-width: $extra-small-device) {
        display: none;
      } 
    }
    > span.continue {
      float: right;
      margin-right: 0px;
    }
  }
}

.post-space {
  height: 20px;
  @media(max-width: $extra-small-device) {
    height: 10px;
  }
}
