@import 'commons';

.container.post {
  width: auto !important;
}

.post {
  
  font-size: 12px;
  @media(min-width: $extra-small-device) {
    font-size: 14px;
  }
  @media(min-width: $medium-device) {
    font-size: 16px;
  }

  h2 {
    padding: 0;
    @media(min-width: $extra-small-device) {
      padding: 0px 80px;
    }
  }

  .actions {
    display: block;
    margin-bottom: 10px;
  }

  div.avatar {
    text-align: center;
  }

  img.avatar {
    @media(max-width: $extra-small-device) {
      display: none;
    }
    width: 150px;
    margin: 5px 25px;
    @media(min-width: $small-device) {
      margin: 5px 45px;
    }
    
    border-radius: 50%;
    border: #FFF solid 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.4);
  }

  .details {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px; 
    span {
      margin-right: 5px;
      @media(min-width: $extra-small-device) {
        margin-right: 10px;
        padding-left: 15px;
      }
    }

    span.date, span.comments {
      @media(max-width: $extra-small-device) {
        display: none;
      }
    }
  }

  .body {
    margin: 0;
    color: #000;

    ul {
   
      li {
        list-style-type: none;
      }

      li:before {
        content: "\2014";
        margin-right: 5px;
      }
    }

    pre {
      font-family: 'Arial';
      @media(max-width: $small-device) {
        display: none;
      }
      @media(min-width: $small-device) {
        font-size: 11px;
      }
      @media(min-width: $medium-device) {
        font-size: inherit;
      }
    }
    
    a {
      color: #0086B3;
    }

    p img {
      max-width: 200px;
      margin: 10px 10px; 

      @media(min-width: $extra-small-device) {
        max-width: 400px;
        margin: 10px 40px; 
      }
      @media(min-width: $small-device) {
        max-width: 600px;
      }
      @media(min-width: $medium-device) {
        max-width: 800px;
      }
    }

    p img.emoji {
      margin: 0;
    }
    
    p {
      text-align: justify;   
    }
  }

  .links {
    padding-top: 15px;

    > div {
      padding: 0;
    }
  
    > div.continue a {
      @media(min-width: $medium-device) {
        float: right;
      }
    }
  }
}

.post-space {
  height: 20px;
  @media(max-width: $extra-small-device) {
    height: 10px;
  }
}


#post-form {
  margin-top: 25px;
  
  #body-format {
    float: right;
    @media(max-width: $small-device) {
      display: none;
    }
    padding-right: 20px;
    margin-bottom: 5px;
    a {
      margin-left: 10px;
      text-decoration: none;
      border-bottom: 1px dashed #0086B3;
      color: #0086B3;
    }
    a.active {
      font-weight: bold;
    }
  }
}

#posts-wall {
  margin: 0 auto;

  .posts-wall-item {
    @include paper;
    
    width: 250px;
    padding: 0;

    @media(min-width: $extra-small-device) {
      width: 350px;
      padding: 10px !important;
    }
    
    margin-bottom: 40px;


    h2 {
      font-size: 16px;
    }

    .info {
      text-align: center;
      margin-bottom: 15px;
      img.avatar {
        width: 100px;
        height: 100px;
        margin: 10px 0px;
        border-radius: 50%;
        border: #FFF solid 5px;
        box-shadow: 0px 3px 3px rgba(0,0,0,.4);
      }
    }

    .body {
      text-align: justify;
      padding: 10px;
      font-size: 13px;
      @media(min-width: $large-device) {
       font-size: 14px;
      }

      img {
        display: none;
      }

      ul {
        li {
          list-style-type: none;
        }

        li:before {
          content: "\2014";
          margin-right: 5px;
        }
      }
    }

    .actions {
      a.more {
        float: right; 
      }
    }
  }
}

.no-posts {
  img {
    display: block;
    margin: 25px auto;
    @media(max-width: $extra-small-device) {
      width: 200px;
    }
    @media(min-width: $extra-small-device) {
      width: 400px;
    }
    @media(min-width: $small-device) {
      width: 600px;
    }
  }

  p {
    text-align: center;
  }
}