@import 'commons';


.container.post {
  width: auto !important;
}

.post {
  
  font-size: 12px;
  @media(min-width: $extra-small-device) {
    font-size: 14px;
  }
  @media(min-width: $medium-device) {
    font-size: 16px;
  }

  .details {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px; 
    span {
      margin-right: 5px;
      @media(min-width: $extra-small-device) {
        margin-right: 10px;
        padding-left: 15px;
      }
    }

    span.user, span.comments {
      @media(max-width: $extra-small-device) {
        display: none;
      }
    }
  }

  .body {
    color: #000;

    pre {
      font-family: 'Arial';
      @media(max-width: $small-device) {
        display: none;
      }
      @media(min-width: $small-device) {
        font-size: 11px;
      }
      @media(min-width: $medium-device) {
        font-size: inherit;
      }
    }
    
    a {
      color: #0086B3;
    }

    img.avatar {
      @media(max-width: $extra-small-device) {
        display: none;
      }
      width: 150px;
      float: left; 
      margin: 5px 10px;
    }

    p {
      text-align: justify;   
    }
  }

  .links {
    padding-top: 15px;

    > div {
      padding: 0;
    }
  
    > div.continue a {
      @media(min-width: $medium-device) {
        float: right;
      }
    }
  }
}

.post-space {
  height: 20px;
  @media(max-width: $extra-small-device) {
    height: 10px;
  }
}
