@import 'commons';

.profile {
  ul.nav {
    margin-top: 25px;
  }

  .tab-pane {
    padding-top: 15px;
  }

  div.avatar {
    text-align: center;
    margin-bottom: 25px;
    img { 
      width: 200px; 
    }

    .upload {
      margin-top: 10px;
    }
  }

  .stickers {
    text-align: center;
    margin-bottom: 45px;
    img.sticker {
      margin-right: 50px;
      height: 75px;
      @media(min-width: $small-device) {
        height: 150px;
      }
    }
  }

  .sections {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 10px;

    .badge {
      margin: 3px;
      a {
        color: #FFF;
      }
    }

    .badge.new {
      background-color: blue;
    }
  }

  .post .clamp {
    @media(max-width: $medium-device) {
      display: none;
    }
  }
}

#avatar-upload-dialog {
  .modal-body {
    min-height: 200px;    
    
    form {
      text-align: center;
    }

    #upload-avatar-from-desktop {
      float: left;
      margin: 25px 10px;
    }

    #upload-avatar-from-dropbox {
      margin: 35px 0px;
    }
  }
}