@import 'commons';

.profile {
  .avatar {
    text-align: center;
    margin-bottom: 25px;
    img { 
      width: 200px; 
    }

    .dropbox {
      margin-top: 10px;
    }
  }

  .sections {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 10px;

    .badge {
      margin: 3px;
      a {
        color: #FFF;
      }
    }

    .badge.new {
      background-color: blue;
    }
  }

  .post .clamp {
    @media(max-width: $medium-device) {
      display: none;
    }
  }
}