%table.table
  %tbody
    - users.each do |user|
      %tr
        %td= link_to user.id, admin_user_url(user)
        %td= link_to user.user_name, admin_user_url(user)
        %td= mail_to user.email
        %td= l user.created_at