%li.dropdown.admin
  %a.dropdown-toggle{href: admin_root_path, data: {toggle: "dropdown"}}= t('nav.admin.title')
  %ul.dropdown-menu
    = menu_item t('nav.admin.dashboard'), admin_root_path, 'dashboard'
    = menu_item t('nav.admin.jobs'), admin_jobs_path, 'rocket'
