= menu_item t('nav.overview'), overview_path, nil, { class: 'citizanse' }

- if user.present? && user != current_user
  = render partial: 'public/profile', locals: { user: user }

- unless user_signed_in?
  = menu_item t('nav.sign_in_short'), new_user_session_path, nil, { class: 'sign-in' }
  = menu_item t('nav.sign_up'), new_user_registration_path, nil, { class: 'sign-up' }